html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}


header {
    padding: 12px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}


input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea{
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 24px;
    
}

.book-cover {
    width: 200px;
    height: auto;

    grid-row: 1/6;
    border: 2px solid red;

}

.book-title {
    font-weight: bold;
    font-size: 150%;
    border: 2px solid red;

}

.book-rating {
    font-size: 125%;
    border: 2px solid red;

}

.book-authors {
    color: dimgray;
    border: 2px solid red;

}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
    border: 2px solid red;

}
.book-cover {
    width: 200px;
    height:auto;
    border: 2px solid red;

}

.book-review-form {
    background-color: white;
    padding: 24px;
    border: 2px solid red;

}

p {
    border: 2px solid red;
}

h2, h3 {
    border: 2px solid red;
}

div{
    border: 2px solid red;
}

nav {
    border: 2px solid red;
}